name: GitHub Pages

on:
  workflow_call:
    inputs:
      node-version:
        description: NodeJS version
        type: number
        default: 18
      pre-build:
        description: Command to run before building
        type: string
        default: ""
      post-build:
        description: Command to run after building
        type: string
        default: ""
      working-directory:
        description: Working directory
        type: string
        default: "."
      python-version:
        description: Python version
        type: string
        default: null
      install-cmd:
        description: Command to install dependencies
        type: string
        default: npm install

# set permissions of GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    if: ${{ !github.event.pull_request.head.repo.fork }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
          cache-dependency-path: ${{ inputs.working-directory }}/package.json

      - name: Set up python
        uses: actions/setup-python@v4
        if: inputs.python-version != null
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: |
          ${{ inputs.install-cmd }}

      - name: Build site
        run: |
          ${{ inputs.pre-build }}
          npm run build
          ${{ inputs.post-build }}

      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ${{ inputs.working-directory }}/build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
